body {
    margin: 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    letter-spacing: 2px;
    color: #ffffff;
}

*, *:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

b {
    color: #373737;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Бошка */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    padding-top: 40px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 100%;
    max-width: 55px;
}

/* Навигация */

.nav {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.nav__link {
    margin-left: 10px;
    margin-right: 70px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.nav__link--end {
    margin-right: 10px;
    margin-left: 70px;
}

/* Вступление */

.intro {
    display: flex;
    justify-content: center;
    flex-flow: column;
    background: url('../images/intro.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.intro__title {
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
    max-height: 46px;
}

.intro__bottom {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.intro__btn {
    font-size: 14px;
    font-weight: 700;
    background-color: #16a085;
    margin: 30px auto 0;
    width: 165px;
    height: 50px;
    border: 1px solid #16a085;
    border-radius: 5px;
}

.intro__btn--cont {
    width: 190px;
    margin: 0;
}

.btn {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 14px 0;
}

.intro__icons {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    cursor: pointer;
}

.intro__icon {
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

/* Секция */

.section__white {
    width: 100%;
    background-color: #fff;
}

.section__gray {
    width: 100%;
    background-color: #f5f6f7;
}

/* Фото */

.photo {
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
}

.photo__content {
    max-width: 430px;
}

.photo__img {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 633px;
    max-height: 400px;
    margin-left: -35px;
}

.photo__img img {
    width: 100%;
}

/* Десигн */

.design {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.design__content {
    max-width: 430px;
}

.design__title {
    color: #16a085;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
}

.design__text {
    font-size: 12px;
    color: #c2c3c4;
    margin-bottom: 50px;
}

.design__number {
    margin-top: 45px;
    letter-spacing: .4px;
    font-weight: 700;
    color: #000;
}

.design__img {
    display: flex;
    margin: 0 auto;
    max-height: 412px;
}

.design__icons{
    margin-top: 5px;
    display: flex;
    width: 45px;
    justify-content: space-between;
}

.design__img img {
    width: 100%;
}

@media(max-width:770px) {
    /* Интро */
    .intro__btn--cont {
        margin: 0 auto 20px;
    }
    /* Навигация */
    .nav__link {
        margin-left: 20px;
        margin-right: 30px;
    }
    .nav__link--end {
        margin-right: 20px;
        margin-left: 30px;
    }
    /* Фото */
    .photo {
        flex-direction: column;
        align-items: center;
    }
    .photo__content {
        margin: 0 10px;
    }
    .photo__img {
        margin-left: 0;
    }
    /* Дизайн */
    .design {
        padding-top: 80px;
        align-items: center;
        flex-direction: column;
    }
    .design__title {
        text-align: center;
    }
    .design__text {
        text-align: center;
    }
    .design__img {
        width: 60%;
        margin: 0 10px;
    }
}

@media(max-width:575px) {
    body {
        letter-spacing: .5px;
    }
    /* Бошка */
    .header__inner {
        justify-content: center;
    }
    .header__img {
        max-width: 33px;
    }
    .header__img img {
        width: 100%;
    }
    /* Навигация */
    .nav {
        font-size: 12px;
    }
    .nav__link {
        margin-left: 0;
        margin-right: 5px;
    }
    .nav__link--end {
        margin-left: 5px;
        margin-right: 0;
    }
    /* Интро*/
    .intro__title {
        font-size: 28px;
    }
    .intro__bottom {
        font-size: 16px;
    }
    .intro__icon {
        font-size: 22px;
        padding: 7px;
    }
    /* Десигн */
    .design {
        padding-top: 50px;
    }
    .design__content {
        margin: 0 10px;
    }
    .design__img {
        width: 50%;
    }
}